
<div class="col-xs-12 col-md-offset-6">
  <a href="/" class="btn btn-primary center-block start-over-button">Start Over</a>
    <div ng-repeat="artist in artistsCtrl.artists">
        <div class="col-xs-3 artist-panel text-center">
            <h3 class="artist-name">{{artist.name}}</h1>
            <img class="artist-image" src="{{artist.images[0].url}}">
            <br>
            <a href="{{artist.external_urls.spotify}}"><img class="spotify-button " src="/public/images/spotify.png"></a>
            <br>
            </a>
        </div>
    </div>
</div>
