
<div class="col-xs-12 col-md-offset-6">
  <h1>Who's your favorite artist?</h1>
  <form id="bookForm" class="col-md-8 col-md-offset-2">
    <input type="text" id="playlistInput" class="form-control" placeholder="Search Artists" ng-model="searchArtists"> <br><p>
    <div class="text-center">
      <button type="submit" class="btn btn-info col-md-offset-2 center-block" ng-click="searchCtrl.getArtists(searchArtists)">Search</button>
    </div>
  </form>

  <div class="col-xs-3 artist-panel" ng-repeat="artist in searchCtrl.artists">
    <div class="cover">
      <h1>{{artist.name}}</h1>
      <img class="artist-image" src="{{artist.images[1].url}}">
    </div>
  </div>
</div>
