body {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  background-color: black; /* Sanity Check! */
  font-family: 'Titillium Web', sans-serif;
}

h1 {
  margin-top: 50px;
  text-align: center;
  color: white;
}

.spotify-button{
  height: 45px;
  width: 130px;
  margin-bottom: 5px;
}

.artist-image{
  border-radius: 100px;
  height: 120px;
  width: 120px;
  margin-bottom: 5px;
}

.artist-panel{
text-align: center;
height: 320px;
}

.artist-name{
  height: 45px;
  width: 120px;
  color: white;
}

.similar-artist{
  border-radius: 7px;
}

.start-over-button {
  margin-top: 15px;
  margin-bottom: 15px;
}
